CloudHarvestCorePluginManager @ git+https://github.com/Cloud-Harvest/CloudHarvestCorePluginManager.git@main
Flask
flatten-json
Jinja2
pandas
pymongo
pytest
python-dateutil
PyYAML
redis
rich-argparse
setuptools
wheel
